.section-how {
  padding: 9.6rem 0;
}

.step {
    &__number {
      font-size: 8.6rem;
      font-weight: var(--font-weight--semi-bold);
      color: #ddd;
      margin-bottom: 1.2rem;
    }
    
    &__description {
      font-size: 1.8rem;
      line-height: 1.8;
    }
    
    &__img-box {
      position: relative;
    
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    &__img-box::before,
    &__img-box::after {
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    &__img-box::before {
      width: 60%;
      /* height: 60%; */
      padding-bottom: 60%;
      background-color: var(--color-primary--light);
      z-index: -2;
    }
    
    &__img-box::after {
      width: 45%;
      padding-bottom: 45%;
      background-color: var(--color-primary--medium);
      z-index: -1;
    }
    
    &__img {
      width: 35%;
    }

}

