.section-testimonials {
  background-color: var(--color-primary--light);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;

  /* Below 944px (Tablets) */
  @media (max-width: 59em) {
    grid-template-columns: 1fr;
  }
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;

  &__container {
    padding: 9.6rem;

    /* Below 1200px (Landscape Tablets) */
    @media (max-width: 75em) {
      padding: 9.6rem 3.2rem;
    }
  }

  /* Below 544px (Phones tablets) */
  @media (max-width: 34em) {
    grid-template-columns: 1fr;
  }
}

.testimonial {
  &__img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }
  &__text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }
  &__name {
    font-size: 1.6rem;
    color: var(--color-accent--medium);
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;

  &__item {
    overflow: hidden;
  }
  &__item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
  }
  &__item img:hover {
    transform: scale(1.1);
  }

  /* Below 1344px (Smaller desktops) */
  @media (max-width: 84em) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Below 944px (Tablets) */
  @media (max-width: 59em) {
    grid-template-columns: repeat(6, 1fr);
  }

  /* Below 544px (Phones tablets) */
  @media (max-width: 34em) {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
}
