.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;

  &__logo {
    display: block;
    margin-bottom: 3.2rem;

    & img {
      height: 2.2rem;
    }
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: var(--font-weight--medium);
    margin-bottom: 4rem;
  }

  &__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--color-accent--secondary);
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: var(--color-accent--light);
  }
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;

  /* Below 704px (Smaller tablets) */
  @media (max-width: 44em) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.logo__col {
  display: flex;
  flex-direction: column;
}

.social {
  &__links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
  }
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--color-accent--secondary);
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

/* Below 704px (Smaller tablets) */
@media (max-width: 44em) {
  .logo__col,
  .address__col {
    grid-column: span 3;
  }

  .nav__col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}
