@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --font-weight--default: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;

  --color-primary: #e67e22;
  --color-primary--secondary: #eb984e;
  --color-primary--medium: #fae5d3;
  --color-primary--light: #fdf2e9;

  --color-shade--orange: #cf711f;
  --color-shade--black: #45260a;

  --color-accent--primary: #888;
  --color-accent--secondary: #767676;
  --color-accent--medium: #6f6f6f;
  --color-accent--light: #555;
  --color-accent--dark: #333;

  --color-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  /* Below 1200px (Smaller desktops) */
  @media (max-width: 75em) {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  /* Below 944px (Tablets) */
  @media (max-width: 59em) {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: var(--font-weight--default);
  color: var(--color-accent--light);
  overflow-x: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* Below 1200px (Landscape Tablets) */
  @media (max-width: 75em) {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* Below 704px (Smaller tablets) */
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Below 544px (Phones tablets) */
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: var(--font-weight--bold);
  color: var(--color-accent--dark);
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;

  /* Below 1344px (Smaller desktops) */
  @media (max-width: 84em) {
    font-size: 4.4rem;
  }
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;

  /* Below 1200px (Landscape Tablets) */
  @media (max-width: 75em) {
    font-size: 3.6rem;
  }

  /* Below 704px (Smaller tablets) */
  @media (max-width: 44em) {
    margin-bottom: 4.8rem;
  }
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;

  /* Below 1200px (Landscape Tablets) */
  @media (max-width: 75em) {
    font-size: 2.4rem;
  }
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-shade--orange);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: var(--font-weight--semi-bold);
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

/* Below 544px (Phones tablets) */
@media (max-width: 34em) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--color-shade--orange);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: var(--color-white);
  color: var(--color-accent--light);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-primary--light);
  box-shadow: inset 0 0 0 3px var(--color-white);
}

.btn--form {
  background-color: var(--color-shade--black);
  color: var(--color-primary--light);
  align-self: end;
  padding: 1.2rem;

  /* Below 944px (Tablets) */
  @media (max-width: 59em) {
    margin-top: 1.2rem;
  }
}

.btn--form:hover {
  background-color: var(--color-white);
  color: var(--color-accent--light);
}

.link:link,
.link:visited {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: var(--color-shade--orange);
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list__item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list__icon {
  width: 3rem;
  height: 3rem;
  color: var(--color-primary);
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: var(--font-weight--medium);
}
